*{
    padding: 0px;
    margin: 0px;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .3);
    box-sizing: border-box;/*включает в размер блока все отступы*/
}
h2{
    text-align: center;
    color: seagreen;

}
.input-container,
.select-container{
    position: relative;
    margin-top: 15px;

}

.input-container input[type="text"],
.input-container input[type="email"],
.select-container select
{/*только импуты с типом текст будут иметь эти стили*/
    display: block;
    width: 100%;
    padding: 8px 7px 5px 7px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid darkorange;
    font-style: 18px;
    line-height: 22px;
}

.input-container label{
    position: absolute;
    top: -10px;
    left: 20px;
    background: white;/*уберет перечеркнутый лайбл, т.е Имя*/
    padding: 0px 3px;
}
.input-container input:focus{
     color:tomato;
}
.select-container select{
    appearance: none;/*убирает стандартные галочки*/
    -webkit-appearance: none;
}
.checkbox-list{
    margin-top: 15px;
}
.checkbox-container input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
}
.checkbox-container{
    position: relative;
    margin-top: 10px;
}
.checkbox-container label{
    padding-left: 45px;
}
.checkbox-container label::after{/*делаем овалы перед списком*/
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid rgb(250, 217, 30);
    border-radius: 20px;
    box-sizing: border-box;/*учитывает бордер*/
}
.checkbox-container label::before{/*делаем бегунок внутри овала*/
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    background: rgb(250, 217, 30);
    border-radius: 50%;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.checkbox-container input:checked + label::before{
    left: 20px;
    border: 1px solid orangered;
    box-sizing: border-box;
    transition: all .3s;
    
}
.checkbox-container input:checked + label::after{
    background: orangered;
    transition: all .3s;
    transition-delay: .2s;/*замедление бегунка*/
}
.radio-container label:hover svg path{
    fill:red;
}
.radio-list{
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.radio-container input[type="radio"]{/*только для инпута с типом радио*/
    appearance: none;/*убирает точку у радио*/
    -webkit-appearance: none;
}
.radio-container input:checked + label.icon-telegram svg path{
    fill:#0088cc;/*меняем цвет для наших свг*/
}
.radio-container input:checked + label.icon-vp svg path{
    fill:green;
}
.radio-container input:checked + label.icon-tel svg path{
    fill:purple;
}
label{
    cursor: pointer;
}
.checkbox-subContainer {
    margin-top:10px;
    opacity: 0;/*прозрачность*/
    height: 0px;
}
.checkbox-subContainer textarea{
    cursor: default;/*делаем обычный курсор мыши*/
    resize: none;/*запрещаем полю текст ареа расширяться*/
    border: 1px solid orange;
    border-radius: 5px;
    width: 100%;
    height:100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
}
.checkbox-subContainer textarea:focus{
    color: orangered;
}
#checkbox_5:checked~.checkbox-subContainer{/* при нажатии на доп.параметры появляеться скрытый текстареа*/
    opacity: 1;
    height: 120px;
    transition: all .3s;
}
